<?xml version='1.0' encoding='utf-8'?>
<asset name="Springfield Reg. Stn">
  <pos>
    <x>-8797.343210</x>
    <y>-20648.684078</y>
  </pos>
  <GFX>
    <space>001.png</space>
    <exterior>station03.png</exterior>
  </GFX>
  <presence>
    <faction>Empire</faction>
    <value>100.000000</value>
    <range>8</range>
  </presence>
  <general>
    <class>M</class>
    <population>0</population>
    <hide>0.000000</hide>
    <services>
      <land/>
      <refuel/>
      <bar/>
      <outfits/>
    </services>
    <commodities/>
    <description>Springfield Reg. Stn is in the Chicago system. in the State of Missouri.</description>
    <bar>This is the officer's lounge</bar>
  </general>
  <tech>
    <item>All Outfits</item>
  </tech>
</asset>
